<div class="container text-centered">
<div class="card bg-dark text-white text-center">
<h2 class="card-title">EAT DELICIOUS HAMBURGERS</h2>
<p class="card-text">Make your favorite hamburgers and devour them one by one!</p>
<br>
    </div>
      <br>
      <br>
      <ul class="list-group text-center">
        {{#each burger_data}}
          {{#unless this.devoured}}
        <li class="list-group-item text-center">
          <pre>{{this.id}}. {{this.burger_name}}</pre>
          <form class="button-size">
          <input type ="hidden" name="burger_id" type="text" value={{this.id}}>
          <button type="submit" class="btn btn-default" id="devourbtn" value={{this.id}}>
         DEVOUR IT!</button>   
         </form>
        </li>
        {{/unless}}
        {{/each}}
      </div>
  
    <div class="col-xs-6 text-center" class"task">
      {{#each burger_data}}
        {{#if this.devoured}}
        <br>
        <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
        {{/if}}
        {{/each}}
</div>
<br>
<br>
    <div class="form-group mx-sm-2 text-center">
   <label for="Burger Input">Enter a Burger you would like to devour!</label>
    <form action="/burgers/create" method="POST">
        <input type="text" name="burger_name" class="form-control" id="enter_text">
        <button type="submit" class="btn btn-danger text-center" id="text-center-button">SUBMIT</button>
    </div>
  </div>
</form>
